NEXT_PUBLIC_SUPABASE_URL=https://zqiqpevtoacevzhnkeky.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxaXFwZXZ0b2FjZXZ6aG5rZWt5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjA5NzY1MCwiZXhwIjoyMDY3NjczNjUwfQ.wHsH-6YcSUheb0uapCIjIN260fAGWpYPC0TZiha5VjM
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxaXFwZXZ0b2FjZXZ6aG5rZWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIwOTc2NTAsImV4cCI6MjA2NzY3MzY1MH0.gUSvigtSVpRmqMwuGa2ZjtcsXzUoo_P4d4jfw1tXFGI
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=vivero-web-secret-key-development

# Mercado Pago Configuration
MP_ACCESS_TOKEN=APP_USR-350052043144903-080510-d8a608c86017f184f5822bbc8236f975-2608760446
NEXT_PUBLIC_MP_PUBLIC_KEY=APP_USR-0d60011a-20e6-431c-8c23-dddb8ebe4e19
NEXT_PUBLIC_BASE_URL=https://f9c5a233dcaa.ngrok-free.app


#NGROK CONFIGURACION
NGROK_AUTHTOKEN=30yU9b6SRGzFr1M2EQUR1WjsB3p_6i2ADeQaaUdxNQXn3aR38
NEXT_PUBLIC_BASE_URL=https://4dcb83303e3f.ngrok-free.app